* {
  font-family: FontAwesome, "PragmataPro Mono Liga", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}

window#waybar {
  /* background-color: #282828; */

  background-color: rgba(40, 40, 40, 0.8);
}

tooltip {
  border-radius: 0;
  font-weight: 400;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  opacity: 1;
}

#workspaces button.active {
  background-color: #98971a;
  color: #282828;
}

#workspaces button {
  padding: 2px 3px;
  color: #282828;
  background-color: #928374;
  margin-right: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#workspaces button.urgent {
  background-color: #ea6962;
}

#taskbar button {
  background-color: #3c3836;
  padding: 3px 8px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#taskbar button.active {
  background-color: #98971a;
  color: #282828;

  /* padding: 3px 10px;
  margin-top: 6px;
  margin-bottom: 6px; */
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#custom-spotify,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#user,
#bluetooth,
#custom-wakatime,
#custom-toggl {
  font-weight: 400;
  padding: 3px 10px;
  margin-left: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#custom-os {
  font-weight: 400;
  padding: 3px 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 8px;
}

#windowu,
#workspaces {
  margin: 0 3px 0;
  font-weight: 400;
}

#clock {
  background-color: #689d6a;

  color: #1d2021;
  margin-right: 8px;
}

#bluetooth {
  background-color: #d65d0e;
  color: #1d2021;
}

#battery {
  background-color: #b16286;
  color: #f2e5bc;
}

#battery.charging,
#battery.plugged {
  background-color: #b16286;
  color: #f2e5bc;
}

#battery.critical:not(.charging) {
  background-color: #ea6962;
  color: #f2e5bc;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background-color: #d79921;
  color: #282828;
  /* color: #282828; */
}

#memory {
  background-color: #d79921;
  color: #282828;
}

#disk {
  background-color: #d79921;
  color: #282828;
}

#backlight {
  background-color: #b16286;
  color: #f2e5bc;
}

#network {
  background-color: #d65d0e;
  color: #1d2021;
}

#network.format.icons {
  background-color: red;
}

#network.disconnected {
  background-color: #ea6962;
}

#user {
  background-color: #ea6962;
  color: #282c34;
}

#custom-spotify {
  background-color: #689d6a;
  color: #282828;
}

#temperature {
  background-color: #d79921;
  color: #282828;
}

#temperature.critical {
  color: #282c34;
  background-color: #e06c75;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #2d3436;
}

#custom-os {
  font-size: 16px;
  background-color: #458588;
  color: #f2e5bc;
}

#custom-wakatime {
  background-color: #b16286;
  color: #f2e5bc;
  margin-right: 4px;
}

#custom-toggl {
  color: #282828;
}

#custom-toggl.active {
  background-color: #98971a;
}

#custom-toggl.inactive {
  background-color: #928374;
}
