* {
  font-weight: 400;
}

window#waybar {
  font-family: "Sys TT", "PragmataPro Mono Liga";
  background-color: #458588;
  border-bottom: 2px solid #282828;
  /* background-color: rgba(40, 40, 40, 1); */

  font-size: 16px;
}

button {
  border-radius: 0;
  /* box-shadow: inset 0 -3px transparent; */
  border: none;
  opacity: 1;
}

tooltip {
  color: #ebdbb2;
  border-radius: 0;
  font-weight: 400;
  background-color: rgba(40, 40, 40, 0.8);
  box-shadow: none;
}

tooltip label {
  color: #ebdbb2;
}

/* Layout */

#taskbar {
  margin-right: 10px;
}

#clock,
#custom-wakatime,
#custom-os,
#network,
#bluetooth,
#cpu,
#memory,
#temperature,
#backlight,
#disk,
#custom-diskBackup,
#battery {
  padding: 0px 8px;
  margin: 5px 3px 6px;
}

#taskbar button {
  margin: 5px 0 6px;
  font-size: 18px;
  padding: 0px 4px;
}

#workspaces button,
#custom-timewarrior,
#custom-notification,
#custom-lock,
#custom-shutdown,
#custom-restart,
#idle_inhibitor,
#custom-logout {
  margin: 5px 0 6px;
  font-size: 18px;
  padding: 0px 8px;
  /* margin: 8px 0 10px; */
}

#taskbar button {
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;
}

#workspaces button {
  padding: 0;
  padding-top: 3px;
  /* padding-left: 2px; */
  /* padding-right: 2px; */
  /* margin-right: 5px; */

  background-color: #665c54;
  border: 2px solid; /* Base border */
  border-color: #928374 #282828 #282828 #928374;
}

/* #waybar .modules-left > *:first-child > * { */
/*   margin-left: 25px; */
/* } */

#workspaces > *:last-child {
  margin-right: 10px;
}

#custom-os {
  margin-left: 5px;
}

#custom-notification {
  margin-right: 5px;
}

/* Colours */

#taskbar button.active {
  /* background-color: #98971a; */
  /* border: 2px solid; /1* Base border *1/ */
  /* border-color: #b8bb27 #79740e #79740e #b8bb27; */

  background-color: #ebdbb2;
  border: 2px solid; /* Base border */
  border-color: #fbf1c7 #a89984 #a89984 #fbf1c7;
}

#battery,
#battery.charging,
#battery.plugged {
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;
}

#clock {
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;
}
#cpu,
#memory,
#temperature,
#backlight {
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;

  color: #282828;
}

#disk,
#custom-diskBackup {
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;
}

#network,
#bluetooth {
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;

  /* background-color: #c0c0c0; */
  /*   border: 2px solid; /1* Base border *1/ */
  /*   border-color: #ffffff #808080 #808080 #ffffff; */
  /*   color: #282828; */
}

#workspaces button.urgent,
#temperature.critical,
#network.disconnected,
#battery.critical:not(.charging) {
  color: #ebdbb2;
  background-color: #cc241d;
  border-color: #fb4924 #9d0006 #9d0006 #fb4924;
}

#custom-wakatime {
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;
}

#workspaces button.active {
  color: #282828;
  /* background-color: #98971a; */
  /* border: 2px solid; /1* Base border *1/ */
  /* border-color: #b8bb27 #79740e #79740e #b8bb27; */
  background-color: #ebdbb2;
  border: 2px solid; /* Base border */
  border-color: #fbf1c7 #a89984 #a89984 #fbf1c7;
}

#custom-timewarrior.active {
  color: #282828;
  background-color: #98971a;
  border: 2px solid; /* Base border */
  border-color: #b8bb27 #79740e #79740e #b8bb27;
}

#custom-notification,
#custom-lock,
#custom-shutdown,
#custom-restart,
#custom-notification,
#custom-timewarrior.inactive {
  /* background-color: #282828; */
  /* color: #ebdbb2; */
}

#custom-timewarrior {
  margin-left: 10px;
}

/* Specific module styles */

#custom-os {
  margin-right: 10px;
  font-size: 18px;
  padding-right: 14px;
  /* background-color: #458588; */
  /* border: 2px solid; /1* Base border *1/ */
  /* border-color: #83a598 #076678 #076678 #83a598; */
  color: #282828;
  background-color: #a89984;
  border: 2px solid; /* Base border */
  border-color: #ebdbb2 #665c54 #665c54 #ebdbb2;
}

#custom-timewarrior,
#custom-notification,
#custom-lock,
#custom-shutdown,
#custom-restart,
#idle_inhibitor,
#custom-logout {
  background-color: #665c54;
  border: 2px solid; /* Base border */
  border-color: #928374 #282828 #282828 #928374;
  color: #ebdbb2;
  /* color: #282828; */
  /* background-color: #a89984; */
  /* border: 2px solid; /1* Base border *1/ */
  /* border-color: #ebdbb2 #665c54 #665c54 #ebdbb2; */

  /* border: 2px solid #665c54; */
}
