* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, "PragmataPro Mono Liga", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
}

window#waybar {
  background-color: transparent;
  border-bottom: none;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */

#workspaces button.active {
  background-color: #c678dd;
  color: #2d3436;
}

#workspaces button {
  padding: 0 6px;
  color: #2d3436;
  background-color: #abb2bf;
  border-radius: 4px;
}

#workspaces button.urgent {
  background-color: #eb4d4b;
}

#mode {
  background-color: #64727d;
  border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#custom-spotify,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#user,
#bluetooth,
#custom-os {
  padding: 3px 12px;
  margin: 3px 3px 0;
  color: #ffffff;
  border-radius: 4px;
}

#window,
#workspaces {
  margin: 3px 3px 0;
}

#window {
  color: #abb2bf;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #abb2bf;
  color: #2d3436;
}

#bluetooth {
  background-color: #abb2bf;
  color: #2d3436;
}

#battery {
  background-color: #98c379;
  color: #282c34;
}

#battery.charging,
#battery.plugged {
  color: #282c34;
  background-color: #98c379;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #282c34;
  }
}

#battery.critical:not(.charging) {
  background-color: #be5046;
  color: #ffffff;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

label:focus {
  background-color: #000000;
}

#cpu {
  background-color: #98c379;
  color: #282c34;
}

#memory {
  color: #282c34;
  background-color: #c678dd;
}

#disk {
  color: #282c34;
  background-color: #e5c07b;
}

#backlight {
  background-color: #61afef;
  color: #282c34;
}

#network {
  background-color: #61afef;
  color: #282c34;
}

#network.disconnected {
  background-color: #e06c75;
}

#user {
  background-color: #e06c75;
  color: #282c34;
}

#pulseaudio {
  background-color: #e5c07b;
  color: #282c34;
}

#pulseaudio.muted {
  background-color: #90b1b1;
  color: #e5c07b;
}

#wireplumber {
  background-color: #fff0f5;
  color: #000000;
}

#wireplumber.muted {
  background-color: #e06c75;
}

#custom-spotify {
  background-color: #98c379;
  color: #282c34;
}

#temperature {
  color: #282c34;
  background-color: #56b6c2;
}

#temperature.critical {
  color: #282c34;
  background-color: #e06c75;
}

#tray {
  background-color: #2980b9;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #e06c75;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #2d3436;
}

#custom-os {
  background-color: #61afef;
  font-size: 16px;
}
