/* blue yellow green orange purple aqua ..
*/

* {
  /* `otf-font-awesome` is required to be installed for icons */
  font-family: FontAwesome, "PragmataPro Mono Liga", Roboto, Helvetica, Arial,
    sans-serif;
  font-size: 16px;
}

tooltip {
  font-weight: 400;
  border-radius: 0;
}

window#waybar.termite {
  background-color: #3f3f3f;
}

window#waybar.chromium {
  background-color: #000000;
  border: none;
}

button {
  /* Use box-shadow instead of border so the text isn't offset */
  box-shadow: inset 0 -3px transparent;
  /* Avoid rounded borders under each button name */
  border: none;
  border-radius: 0;
}

#workspaces button.active {
  background-color: #e78a4a;
  color: #282828;
}

#workspaces button {
  padding: 0 3px;
  color: #282828;
  background-color: #a89984;
  border-radius: 0px;
  margin-right: 3px;
}

#workspaces button.urgent {
  background-color: #ea6962;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#custom-spotify,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd,
#user,
#bluetooth,
#custom-wakatime,
#custom-os {
  font-weight: 600;
  padding: 3px 12px;
  margin: 0;
  border-radius: 0px;
}

#window,
#workspaces {
  margin: 0 3px 0;
  font-weight: 600;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

#clock {
  background-color: #a9b665;
  color: #282828;
}

#bluetooth {
  background-color: #d8a657;
  color: #282828;
}

#battery {
  background-color: #d8a657;
  color: #282828;
}

#battery.charging,
#battery.plugged {
  color: #282c34;
  background-color: #a9b665;
}

#battery.critical:not(.charging) {
  background-color: #ea6962;
  color: #ddc7a1;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  background-color: #a9b665;
  color: #282828;
}

#memory {
  background-color: #e78a4a;
  color: #282828;
}

#disk {
  color: #282828;
  background-color: #d3869b;
}

#backlight {
  background-color: #a89984;
  color: #282828;
}

#network {
  background-color: #7daea3;
  color: #282828;
}

#network.disconnected {
  background-color: #ea6962;
}

#user {
  background-color: #ea6962;
  color: #282c34;
}

#custom-spotify {
  background-color: #89b482;
  color: #282828;
}

#temperature {
  color: #282828;
  background-color: #89b482;
}

#temperature.critical {
  color: #282c34;
  background-color: #e06c75;
}

#idle_inhibitor {
  background-color: #2d3436;
}

#idle_inhibitor.activated {
  background-color: #abb2bf;
  color: #2d3436;
}

#custom-os {
  background-color: #473c29;
  color: #d4be98;
  font-size: 16px;
}

#custom-wakatime {
  background-color: #7daea3;
  color: #282828;
}
