* {
  font-size: 16px;
}

window#waybar {
  /* background-color: #282828; */

  font-family: "PragmataPro Mono Liga";
  border: 2px solid #504945;
  background-color: rgba(40, 40, 40, 0.9);
}

tooltip {
  color: #ebdbb2;
  border-radius: 0;
  font-weight: 400;
  background-color: #282828;
  box-shadow: none;
  font-family: "Sys TT";
  padding: 20px;
}

tooltip label {
  color: #ebdbb2;
}

button {
  box-shadow: inset 0 -3px transparent;
  border: none;
  border-radius: 0;
  opacity: 1;
}

#workspaces button.active {
  color: #282828;
  background-color: #98971a;
  border: 2px solid #b8bb26;
}

#workspaces button {
  padding: 2px 3px;
  /* color: #282828; */
  color: #ebdbb2;
  background-color: #3c3836;
  margin-right: 5px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 2px solid #504945;
}

#workspaces button.urgent {
  background-color: #ea6962;
}

#taskbar button {
  color: #ebdbb2;
  background-color: #3c3836;
  padding: 3px 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  border-bottom: 2px solid #504945;
}

#taskbar button.active {
  border-bottom: 2px solid #98971a;
  color: #98971a;

  /* padding: 3px 10px;
  margin-top: 6px;
  margin-bottom: 6px; */
}

#battery,
#cpu,
#memory,
#disk,
#custom-diskBackup,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#custom-spotify,
#mode,
#scratchpad,
#mpd,
#user,
#bluetooth,
#custom-wakatime {
  font-weight: 400;
  padding: 3px 8px;
  margin-left: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#custom-logout,
#custom-timewarrior,
#custom-notification,
#idle_inhibitor {
  font-weight: 400;
  padding: 3px 10px;
  margin-left: 4px;
  margin-top: 6px;
  margin-bottom: 6px;
}

#custom-logout {
  color: #ebdbb2;
  background-color: #3c3836;
  margin-right: 8px;
  border: 2px solid #504945;
}

#custom-os {
  font-weight: 400;
  padding: 3px 10px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 8px;
}

#windowu,
#workspaces {
  margin: 0 3px 0;
  font-weight: 400;
}

#clock {
  color: #98971a;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 6px;
  margin-bottom: 6px;

  border-right: 1px solid #504945;
  /* color: #1d2021; */
}

#bluetooth {
  padding-right: 16px;
  border-right: 1px solid #504945;
  color: #458588;
  /* color: #282828; */
}

#battery {
  color: #b16286;
  border-right: 1px solid #504945;
  padding-right: 14px;
  /* color: #282828; */
}

#battery.charging,
#battery.plugged {
  color: #b16286;
  /* color: #282828; */
}

#battery.critical:not(.charging) {
  background-color: #fb4934;
  color: #f2e5bc;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#cpu {
  color: #d79921;
  /* color: #282828; */
  /* color: #282828; */
}

#memory {
  color: #d79921;
  /* color: #282828; */
}

#disk,
#custom-diskBackup {
  color: #d79921;
  /* color: #282828; */
}

#backlight {
  color: #b16286;
  /* color: #282828; */
}

#network {
  padding-right: 0;
  color: #458588;
  /* color: #282828; */
}

#network.format.icons {
  background-color: #fb4934;
}

#network.disconnected {
  background-color: #fb4934;
}

#user {
  background-color: #ea6962;
  color: #282c34;
}

#custom-spotify {
  background-color: #689d6a;
  color: #282828;
}

#temperature {
  color: #d79921;
  border-right: 1px solid #504945;
  padding-right: 14px;
}

#temperature.critical {
  color: #282c34;
  background-color: #fb4934;
}

#idle_inhibitor {
  color: #ebdbb2;
  background-color: #3c3836;
  padding-right: 14px;
  border: 2px solid #504945;
}

#idle_inhibitor.activated {
  background-color: #98971a;
  color: #282828;
}

#custom-os {
  font-size: 16px;
  background-color: #458588;
  color: #f2e5bc;
  border: 2px solid #504945;
}

#custom-wakatime {
  color: #d65d0e;
  border-right: 1px solid #504945;
  padding-right: 14px;
}

#custom-toggl {
  color: #282828;
}

#custom-timewarrior.active {
  background-color: #98971a;
  color: #282828;
  border: 2px solid #b8bb26;
}

#custom-timewarrior.inactive {
  color: #ebdbb2;
  background-color: #3c3836;
  border: 2px solid #504945;
}

#custom-notification {
  color: #ebdbb2;
  background-color: #3c3836;
  border: 2px solid #504945;
}

#custom_notification.active {
  border: 2px solid #b8bb26;
}
