* {
  background-image: none;
  box-shadow: none;
  font-family: "Sys TT";
  font-size: 22px;
  font-weight: 600;
}

window {
  background-color: rgba(40, 40, 40, 0.9);
}

button {
  border-radius: 0;
  color: #ebdbb2;
  background-color: #32302f;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  margin: 10px;
  border: 3px solid #504945;
}

button:focus,
button:active,
button:hover {
  background-color: #504945;
  outline-style: none;
  border: 3px solid #32302f;
}

#lock {
  background-image: image(
    url("/home/thomas/dotfiles/images/wlogout_icons/lock.svg")
  );
}

#logout {
  background-image: image(
    url("/home/thomas/dotfiles/images/wlogout_icons/logout-two.svg")
  );
}

#suspend {
  background-image: image(
    url("/home/thomas/dotfiles/images/wlogout_icons/suspend.svg")
  );
}

#hibernate {
  background-image: image(
    url("/home/thomas/dotfiles/images/wlogout_icons/sleep.svg")
  );
}

#shutdown {
  background-image: image(
    url("/home/thomas/dotfiles/images/wlogout_icons/shutdown.svg")
  );
}

#reboot {
  background-image: image(
    url("/home/thomas/dotfiles/images/wlogout_icons/reboot-two.svg")
  );
}
